@import "~@fontsource/exo/index.css";
@import "~@fontsource/exo/300.css";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo";
}

.container{
    width:80%;
    margin:0 auto;
    background-color: #ffffff;
    background: repeating-linear-gradient( -45deg, #f5f5f5, #f5f5f5 11px, #ffffff 11px, #ffffff 55px );
}

.small-container{
    width: 70%;
    margin:0 auto;
}

.page{
    width: 100%;
    min-height: 100vh;
    background-color: #313131;
    background: repeating-linear-gradient( -45deg, #2f2f2f, #2f2f2f 11px, #313131 11px, #313131 55px );
}

// Buttons class

.BUG{
    background-color:#63a11d;
    color:white;
}

.DARK{
    background-color: #505050;
    color:white;
}

.DRAGON{
    background:linear-gradient(#53a4cf 50% ,#e9614a 51%);
    color:white;
}

.ELECTRIC{
    background-color:#ffe438;
}

.FAIRY{
    background-color: #fdb9e9;
}

.FIGHTING{
    background-color:#c45a18;
    color:white;
}

.FIRE{
    background-color: #fd7d24;
    color:white;
}

.FLYING{
    background:linear-gradient(#3dc7ef 50%,#d6d4d3 51%);
}

.POISON{
    background-color: #b75ad1;
    color:white;
}

.GHOST{
    background-color: #624691;
    color:white;
}

.GRASS{
    background-color: #9fd64c;
}

.GROUND{
    background: linear-gradient(#f7de3f 50% ,#aa901d 51%);
}

.ICE{
    background-color:#72d5f3;
}

.NORMAL{
    background-color:#b2bbbe;
}

.PSYCHIC{
    background-color:#fa47b0;
    color:white;
}

.ROCK{
    background-color: #9b800a;
    color: white;
}

.STEEL{
    background-color:#84aeaf;
}

.WATER{
    background-color: #2e91d3;
    color:white;
}

.COLORLESS{
    background-color: #e2e2e2;
}

.DARKNESS{
    background-color: #230130;
    color:white
}

.LIGHTNING{
    background-color: rgb(248, 255, 194);
}

.METAL{
    background-color: #515e69;
    color:white
}